<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Food Details</title>
</head>

<body>
    <h1>At foo bar</h1>
    <h2><%=food.name%></h2>
    <img src="<%=food.image%>.jpg" >
    <h3><%=food.price%></h3>
    <a href="/food">Back to Drinks Index</a>
    


    

    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</body>

</html>